In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use("ggplot")

In [2]:
df = pd.read_csv("yield_df.csv")

In [3]:
df.head()

,Unnamed: 0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df.head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28242 entries, 0 to 28241
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Area                           28242 non-null  object
 1   Item                           28242 non-null  object
 2   Year                           28242 non-null  int64
 3   hg/ha_yield                    28242 non-null  int64
 4   average_rain_fall_mm_per_year  28242 non-null  float64
 5   pesticides_tonnes              28242 non-null  float64
 6   avg_temp                       28242 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 1.5+ MB

In [7]:
df.isnull().sum()

Area                             0
Item                             0
Year                             0
hg/ha_yield                      0
average_rain_fall_mm_per_year    0
pesticides_tonnes                0
avg_temp                         0
dtype: int64

In [8]:
df.duplicated().sum()

2310

In [9]:
df.drop_duplicates(inplace=True)

In [14]:
df.duplicated().sum()

0

In [21]:
df.shape

(25932, 7)

In [23]:
df.describe()

,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
count,25932.000000,25932.000000,25932.000000,25932.000000,25932.000000
mean,2001.556455,76978.132925,1146.836688,34782.573241,20.422251
std,7.055924,84647.605552,717.391098,57228.568244,6.439402
min,1990.000000,50.000000,51.000000,0.040000,1.300000
25%,1995.000000,19996.000000,593.000000,1597.000000,16.580000
50%,2001.000000,39530.000000,1083.000000,15373.000000,21.420000
75%,2008.000000,104168.000000,1668.000000,45620.000000,26.060000
max,2013.000000,501412.000000,3240.000000,367778.000000,30.650000

In [25]:
df.corr()

ValueError: could not convert string to float: 'Albania'

In [ ]:
# Data Visualization

In [ ]:
len(df['Area'].unique())

In [ ]:
len(df['Item'].unique())

In [ ]:
plt.figure(figsize=(15,20))
sns.countplot(y = df['Area'])
plt.show()

In [ ]:
plt.figure(figsize=(15,20))
sns.countplot(y = df['Item'])
plt.show()

In [ ]:
(df['Area'].value_counts() <400).sum()

In [ ]:
country = df['Area'].unique()
yield_per_country = []
for state in country:
    yield_per_country.append(df[df['Area'] == state]['hg/ha_yield'].sum())

In [ ]:
df['hg/ha_yield'].sum()

In [ ]:
yield_per_country

In [ ]:
plt.figure(figsize=(15,20))
sns.barplot(y = country, x = yield_per_country)
plt.show()

In [ ]:
crops = df['Item'].unique()
yield_per_crop = []
for crop in crops:
    yield_per_crop.append(df[df['Item'] == crop]['hg/ha_yield'].sum())

In [ ]:
plt.figure(figsize=(15,20))
sns.barplot(y = crops, x = yield_per_crop)
plt.show()

In [ ]:
df.head()

In [40]:
df.columns

Index(['Area', 'Item', 'Year', 'hg/ha_yield', 'average_rain_fall_mm_per_year',
       'pesticides_tonnes', 'avg_temp'],
      dtype='object')

In [41]:
col = ['Year','average_rain_fall_mm_per_year','pesticides_tonnes', 'avg_temp','Area', 'Item', 'hg/ha_yield']

In [42]:
df = df[col]

In [46]:
df.head()

,Year,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Area,Item,hg/ha_yield
0,1990,1485.0,121.0,16.37,Albania,Maize,36613
1,1990,1485.0,121.0,16.37,Albania,Potatoes,66667
2,1990,1485.0,121.0,16.37,Albania,"Rice, paddy",23333
3,1990,1485.0,121.0,16.37,Albania,Sorghum,12500
4,1990,1485.0,121.0,16.37,Albania,Soybeans,7000

In [48]:
X = df.drop('hg/ha_yield', axis = 1)
y = df['hg/ha_yield']

In [50]:
X.shape

(25932, 6)

In [52]:
y.shape

(25932,)

In [54]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 0, shuffle=True)

In [55]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

ohe = OneHotEncoder(drop = 'first')
scale = StandardScaler()

preprocesser = ColumnTransformer(
    transformers = [
        ('StandardScale', scale, [0,1,2,3]),
        ('OneHotEncode', ohe, [4,5])
    ], 
    remainder = 'passthrough'
)

In [58]:
X_train_dummy = preprocesser.fit_transform(X_train)
X_test_dummy  = preprocesser.fit_transform(X_test)

In [60]:
preprocesser.get_feature_names_out(col[:-1])

array(['StandardScale__Year',
       'StandardScale__average_rain_fall_mm_per_year',
       'StandardScale__pesticides_tonnes', 'StandardScale__avg_temp',
       'OneHotEncode__Area_Algeria', 'OneHotEncode__Area_Angola',
       'OneHotEncode__Area_Argentina', 'OneHotEncode__Area_Armenia',
       'OneHotEncode__Area_Australia', 'OneHotEncode__Area_Austria',
       'OneHotEncode__Area_Azerbaijan', 'OneHotEncode__Area_Bahamas',
       'OneHotEncode__Area_Bahrain', 'OneHotEncode__Area_Bangladesh',
       'OneHotEncode__Area_Belarus', 'OneHotEncode__Area_Belgium',
       'OneHotEncode__Area_Botswana', 'OneHotEncode__Area_Brazil',
       'OneHotEncode__Area_Bulgaria', 'OneHotEncode__Area_Burkina Faso',
       'OneHotEncode__Area_Burundi', 'OneHotEncode__Area_Cameroon',
       'OneHotEncode__Area_Canada',
       'OneHotEncode__Area_Central African Republic',
       'OneHotEncode__Area_Chile', 'OneHotEncode__Area_Colombia',
       'OneHotEncode__Area_Croatia', 'OneHotEncode__Area_Denmark',
       'OneHotEncode__Area_Dominican Republic',
       'OneHotEncode__Area_Ecuador', 'OneHotEncode__Area_Egypt',
       'OneHotEncode__Area_El Salvador', 'OneHotEncode__Area_Eritrea',
       'OneHotEncode__Area_Estonia', 'OneHotEncode__Area_Finland',
       'OneHotEncode__Area_France', 'OneHotEncode__Area_Germany',
       'OneHotEncode__Area_Ghana', 'OneHotEncode__Area_Greece',
       'OneHotEncode__Area_Guatemala', 'OneHotEncode__Area_Guinea',
       'OneHotEncode__Area_Guyana', 'OneHotEncode__Area_Haiti',
       'OneHotEncode__Area_Honduras', 'OneHotEncode__Area_Hungary',
       'OneHotEncode__Area_India', 'OneHotEncode__Area_Indonesia',
       'OneHotEncode__Area_Iraq', 'OneHotEncode__Area_Ireland',
       'OneHotEncode__Area_Italy', 'OneHotEncode__Area_Jamaica',
       'OneHotEncode__Area_Japan', 'OneHotEncode__Area_Kazakhstan',
       'OneHotEncode__Area_Kenya', 'OneHotEncode__Area_Latvia',
       'OneHotEncode__Area_Lebanon', 'OneHotEncode__Area_Lesotho',
       'OneHotEncode__Area_Libya', 'OneHotEncode__Area_Lithuania',
       'OneHotEncode__Area_Madagascar', 'OneHotEncode__Area_Malawi',
       'OneHotEncode__Area_Malaysia', 'OneHotEncode__Area_Mali',
       'OneHotEncode__Area_Mauritania', 'OneHotEncode__Area_Mauritius',
       'OneHotEncode__Area_Mexico', 'OneHotEncode__Area_Montenegro',
       'OneHotEncode__Area_Morocco', 'OneHotEncode__Area_Mozambique',
       'OneHotEncode__Area_Namibia', 'OneHotEncode__Area_Nepal',
       'OneHotEncode__Area_Netherlands', 'OneHotEncode__Area_New Zealand',
       'OneHotEncode__Area_Nicaragua', 'OneHotEncode__Area_Niger',
       'OneHotEncode__Area_Norway', 'OneHotEncode__Area_Pakistan',
       'OneHotEncode__Area_Papua New Guinea', 'OneHotEncode__Area_Peru',
       'OneHotEncode__Area_Poland', 'OneHotEncode__Area_Portugal',
       'OneHotEncode__Area_Qatar', 'OneHotEncode__Area_Romania',
       'OneHotEncode__Area_Rwanda', 'OneHotEncode__Area_Saudi Arabia',
       'OneHotEncode__Area_Senegal', 'OneHotEncode__Area_Slovenia',
       'OneHotEncode__Area_South Africa', 'OneHotEncode__Area_Spain',
       'OneHotEncode__Area_Sri Lanka', 'OneHotEncode__Area_Sudan',
       'OneHotEncode__Area_Suriname', 'OneHotEncode__Area_Sweden',
       'OneHotEncode__Area_Switzerland', 'OneHotEncode__Area_Tajikistan',
       'OneHotEncode__Area_Thailand', 'OneHotEncode__Area_Tunisia',
       'OneHotEncode__Area_Turkey', 'OneHotEncode__Area_Uganda',
       'OneHotEncode__Area_Ukraine', 'OneHotEncode__Area_United Kingdom',
       'OneHotEncode__Area_Uruguay', 'OneHotEncode__Area_Zambia',
       'OneHotEncode__Area_Zimbabwe', 'OneHotEncode__Item_Maize',
       'OneHotEncode__Item_Plantains and others',
       'OneHotEncode__Item_Potatoes', 'OneHotEncode__Item_Rice, paddy',
       'OneHotEncode__Item_Sorghum', 'OneHotEncode__Item_Soybeans',
       'OneHotEncode__Item_Sweet potatoes', 'OneHotEncode__Item_Wheat',
       'OneHotEncode__Item_Yams'], dtype=object)

In [62]:
from sklearn.linear_model import LinearRegression,Lasso, Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, r2_score, accuracy_score

In [64]:
models = {
    'Linear Regression': LinearRegression(),
    'Lasso' : Lasso(),
    'Ridge' : Ridge(),
    'Decision Tree': DecisionTreeRegressor(),
    'KNN': KNeighborsRegressor(),
}

for name, md in models.items():
    md.fit(X_train_dummy,y_train)
    y_pred = md.predict(X_test_dummy)
    print(f"{name}: mae : {mean_absolute_error(y_test, y_pred)} score : {r2_score(y_test, y_pred)}")

Linear Regression: mae : 29897.29652226802 score : 0.7472732219540155

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:639: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 67280771830.02734, tolerance: 14848622817.505228
  model = cd_fast.sparse_enet_coordinate_descent(

Lasso: mae : 29883.830652070385 score : 0.7472938374682895
Ridge: mae : 29852.93628665794 score : 0.7472626871449057
Decision Tree: mae : 5680.2334682861 score : 0.9644398696977579
KNN: mae : 4693.985772122614 score : 0.9845190890556972

In [65]:
dtr = DecisionTreeRegressor()
dtr.fit(X_train_dummy,y_train)
dtr.predict(X_test_dummy)

array([35286., 22814., 19295., ..., 15011., 34879., 79048.])

In [66]:
df.columns

Index(['Year', 'average_rain_fall_mm_per_year', 'pesticides_tonnes',
       'avg_temp', 'Area', 'Item', 'hg/ha_yield'],
      dtype='object')

In [67]:
df.head()

,Year,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Area,Item,hg/ha_yield
0,1990,1485.0,121.0,16.37,Albania,Maize,36613
1,1990,1485.0,121.0,16.37,Albania,Potatoes,66667
2,1990,1485.0,121.0,16.37,Albania,"Rice, paddy",23333
3,1990,1485.0,121.0,16.37,Albania,Sorghum,12500
4,1990,1485.0,121.0,16.37,Albania,Soybeans,7000

In [68]:
# Predictive System

In [69]:
def prediction(Year, average_rain_fall_mm_per_year,pesticides_tonnes, avg_temp, Area, Item):
    features = np.array([[Year, average_rain_fall_mm_per_year,pesticides_tonnes, avg_temp, Area, Item]], dtype = object)
    transform_features = preprocesser.transform(features)
    predicted_yeild = dtr.predict(transform_features).reshape(-1,1)
    return predicted_yeild[0][0]

In [70]:
result = prediction(1990,1485.0,121.0,16.37,'Albania','Maize')

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [71]:
result

36613.0

In [72]:
import pickle
pickle.dump(dtr, open("dtr.pkl","wb"))
pickle.dump(preprocesser, open("preprocesser.pkl","wb"))